services:
  nginx:
    image: nginx:alpine
    ports:
      - "6066:80"
    volumes:
      - /home/mserver/whereisbin/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /home/mserver/whereisbin/nginx/ssl:/etc/nginx/ssl
      - client_build:/usr/share/nginx/html
      - /home/mserver/whereisbin/backend/uploads:/usr/src/app/uploads
    depends_on:
      - frontend
      - backend
    networks:
      - whereisbin-network
  mongo:
    image: mongo:6
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secretpassword
    ports:
      - "27011:27017"
    volumes:
      - /home/mserver/whereisbin/mongo_data:/data/db
    networks:
      - whereisbin-network
  backend:
    build:
      context: /home/mserver/whereisbin/backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    volumes:
      - /home/mserver/whereisbin/backend:/usr/src/app
    ports:
      - "5111:5000"
    env_file:
      - /home/mserver/whereisbin/backend/.env
    depends_on:
      - mongo
    networks:
      - whereisbin-network
  frontend:
    build:
      context: /home/mserver/whereisbin/frontend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    volumes:
      - client_build:/app/dist
    networks:
      - whereisbin-networkrk
volumes:
  mongo_data:


networks:
  whereisbin-network:
    driver: bridge
