services:
  nginx:
    container_name: cdppao-nginx
    build:
      context: .
      dockerfile: nginx.Dockerfile
    ports:
      - "6088:80"
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - uploads:/usr/src/app/uploads:ro
    depends_on:
      - backend
    networks: [cdppao-network]

  mongo:
    container_name: cdppao-mongo
    image: mongo:6
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: passwordcdppao2025naja
    ports:
      - "27022:27017"
    volumes:
      - ./mongo-data:/data/db
    networks:
      - cdppao-network

  backend:
    container_name: cdppao-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    # เมานต์เฉพาะโฟลเดอร์ uploads เป็น named volume (ไม่ผูกกับ path เครื่องจริง)
    volumes:
      - uploads:/usr/src/app/uploads
    ports:
      - "5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - cdppao-network

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   environment:
  #     - NODE_ENV=production
  #   # ให้ขั้นตอน build เขียนไฟล์ออกที่ /app/build แล้วแชร์ผ่าน named volume นี้
  #   volumes:
  #     - client_build:/app/build
  #   networks:
  #     - cdppao-network

volumes:
  mongo_data:
  # client_build:
  uploads:

networks:
  cdppao-network:
    driver: bridge